<%= form_for(@branch_connection) do |form| %>
  <%= form.hidden_field :issue_id, value: @issue.id %>
  <p>
    <%= form.label l("scmm_branch_name") %>
    <%= form.text_field :branch_name %>
  </p>
  <%= form.submit l(:button_create) %>
<% end %>